<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreDataTestProject.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0EF78D6F26D7FB65003B2781</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EF78D8526D7FB67003B2781</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EF78D9026D7FB67003B2781</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
